{% extends "digital-land-frontend/dlf-base.html" %}
{% from 'digital-land-frontend/components/feedback-panel/macro.html' import dlFeedbackPanel %}

{% block pageTitle %}Projects | Digital Land{% endblock %}

{% block beforeContent %}
  {% include 'digital-land-frontend/partials/dl-prototype-banner.html' %}
  {% block dl_breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Land",
        "href": "https://digital-land.github.io/"
      },
      {
        "text": "Projects"
      }
    ]
  }) }}
  {% endblock %}
{% endblock %}


{% block content %}
<h1 class="govuk-heading-xl">Services</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <ul class="govuk-list">
          {% for page in top_level_pages %}
          <li>
            <a href="{{ page.url }}" class="govuk-link">{{ page.name }}</a>
          </li>
          {% endfor %}
        </ul>
        
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{{ dlFeedbackPanel({
    "title": "Help improve this page",
    "html": 'If you’ve got a question, idea or suggestion share it with the digital land team on <a href="https://github.com/digital-land/design-system">github</a> or email us on <a href="mailto:DigitalLand@communities.gov.uk">digitalland@communities.gov.uk</a>'
}) }}
{% endblock %}